* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* overflow: hidden; */
    background-color: #000;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.container {
    width: 100%;
    padding: 10px;
    /* overflow: hidden; */
}


.container .card-container {
    height: calc(100vh - 60px);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 20px;
    grid-auto-rows: 270px;
    overflow-y: auto;
    margin-top: 20px;
    justify-content: center;
    display: none;
    overflow-y: auto;
    /* border: 1px solid crimson; */
}


.card {
    height: 270px;
    background-color: #222;
    padding: 10px;
    border-radius: 10px;
}

.card p {
    text-align: justify;
    margin-top: 10px;
    word-break: break-all;
}

.card .video {
    max-height: 200px;
    max-width: 230px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    /* border: 1px solid chartreuse; */
    box-shadow: 0px 0px 15px #000;

}

.video-input-box {
    margin: auto;
    /* position: relative; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 40px);
}

.btn {

    /* padding: 0.5rem 1.5rem; */
    padding: 8px 19px;
    background-color: gainsboro;
    color: #000;
    font-size: 19px;
    /* font-size: 100%; */
    border-radius: 10px;
    /* z-index: 99; */

}

.clone-btn {

    background-color: limegreen;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0px; */
    font-size: 50px;
    font-weight: 500;
    position: fixed;
    top: 80%;
    left: 80%;
    transform: translateX(-50%);
}

.video-player-box {
    position: fixed;
    height: 100vh;
    width: 100vw;
    /* border: 1px solid chartreuse; */
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background-color: #000;
    transition: top 0.3s ease;
}

.rotate-landscape {
    transform: rotate(90deg);
    width: 100vw;
    height: 100vh;
}

.video-player-box video {
    width: 100%;
    /* height: ; */
    height: 100%;
    /* border: 1px solid tomato; */
}

.cross-btn {
    background: transparent;
    border: none;
    /* display: inline-block; */
    position: fixed;
    top: 10px;
    left: 10px;
}

.vol-brightness-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

.vol-brightness-container div {
    height: fit-content;
    width: fit-content;
    /* border: 1px solid chartreuse; */
    transform: rotate(270deg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    opacity: 0;
}

.vol-brightness-container .left svg {
    transform: rotate(90deg);
}

.video-player-box .wrapper {
    /* background-color: #323232; */
    background: transparent;
    width: 100%;
    /* position: relative; */
    position: fixed;
    padding: 10px;
    /* top: 75%; */
    bottom: 0;
    /* top: 0; */
}

.wrapper .duration-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.duration-box .duration-info {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.progress-bar {
    width: 95%;
    height: 5px;
    margin: 20px auto;
    background-color: gainsboro;
    position: relative;
    border-radius: 10px;
}


.progress-bar .ball {
    height: 15px;
    width: 15px;
    background-color: dodgerblue;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    /* left: 2%; */
    /* top: -5px; */
    transform: translate(-50%, -50%);
}

.progress-fill {
    --progress-width: 0%;
    position: relative;
}

.progress-fill::before {
    content: "";
    width: var(--progress-width);
    height: 5px;
    background-color: dodgerblue;
    position: absolute;
    left: 0;
    border-radius: 10px;
}

.control-panel {
    display: flex;
    gap: 20px;
    height: fit-content;
    width: fit-content;
    margin: 20px auto;
    /* border: 1px solid chocolate; */
}

.control-panel button {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 25px;
}

.screen-size-btn {
    position: absolute;
    left: 95%;
    top: 73px;
    transform: translateX(-95%);
}

.screen-size-btn button {
    background-color: transparent;
    border: none;
    /* display: block; */
}

.screen-size-btn .exit-fullscreen {
    display: none;
}

@media (max-width: 522px) {
    .container .card-container {
        /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
        grid-template-columns: repeat(auto-fit, 150px);

        grid-auto-rows: 220px;
        margin-top: 20px;
    }

    .btn {
        padding: 9px 19px;
        font-size: 20px;
    }

    .card {
        height: 220px;
        /* width: 150px; */
    }

    .card .video {
        max-height: 130px;
        max-width: 150px;
        /*  */
    }
}
