* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.container {
    width: 100%;
    padding: 10px;
    /* overflow: hidden; */
}


.container .card-container {
    height: calc(100vh - 60px);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 20px;
    grid-auto-rows: 270px;
    overflow-y: auto;
    margin-top: 20px;
    justify-content: center;
    display: none;
    overflow-y: auto;
    /* border: 1px solid crimson; */
}


.card {
    height: 270px;
    background-color: #222;
    padding: 10px;
    border-radius: 10px;
}

.card p {
    text-align: justify;
    margin-top: 10px;
    word-break: break-all;
}

.card .video {
    max-height: 200px;
    max-width: 230px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    /* border: 1px solid chartreuse; */
    box-shadow: 0px 0px 15px #000;

}

.video-input-box {
    margin: auto;
    /* position: relative; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 40px);
}

.btn {

    /* padding: 0.5rem 1.5rem; */
    padding: 8px 19px;
    background-color: gainsboro;
    color: #000;
    font-size: 19px;
    /* font-size: 100%; */
    border-radius: 10px;
    /* z-index: 99; */

}

.clone-btn {

    background-color: limegreen;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0px; */
    font-size: 50px;
    font-weight: 500;
    position: fixed;
    top: 80%;
    left: 80%;
    transform: translateX(-50%);
}

.video-player-box {
    position: fixed;
    height: 100vh;
    width: 100vw;
    /* border: 1px solid chartreuse; */
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.video-player-box video {
    width: 100%;
    /* height: ; */
    height: 50%;
}

button {
    background: none;
    border: none;
    /* display: inline-block; */
    position: fixed;
    top: 10px;
    left: 10px;
}

@media (max-width: 522px) {
    .container .card-container {
        /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
        grid-template-columns: repeat(auto-fit, 150px);

        grid-auto-rows: 220px;
        margin-top: 20px;
    }

    .btn {
        padding: 9px 19px;
        font-size: 20px;
    }

    .card {
        height: 220px;
        /* width: 150px; */
    }

    .card .video {
        max-height: 130px;
        max-width: 150px;
        /*  */
    }
}